@font-face {
    font-family: "customfont1";
    src: url(Catamaran/static/Catamaran-Regular.ttf);
}

:root{
    --peru:#cd9452;
    --black:#222;
    --white:#fff;
    --lightblack:#666;
    --lightwhite:#ccc;
    --lightbg:#f5f5f5;
    --darkbg:rgba(0,0,0,0.7);
    --border:.1rem solid #aaa;
    --boxshadow:0 .5rem 1 rem rgba(0,0,0,.1)
}

*{
    font-family: "customfont1";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
}


* > img{
    user-select: none;
    pointer-events: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--peru);
}

section{
    padding: 5rem 10%;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading span{
    font-size: 2.5rem;
    color: var(--peru);
}

.heading h3{
    font-size: 4.5rem;
    color: var(--black);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--peru);
    color:var(--white) ;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--boxshadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--peru);
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--lightblack);
}

.header .navbar a:hover{
    color: var(--peru);
}

#menubtn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;

}



.home{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 150px var(--px) var(--py);
    margin-bottom: 10rem;
}
  
.home .home-left { text-align: center; }
.home .home-left .home-subtext {
    font-size: 6rem;
    background: var(--lightbg);
    color: var(--boxshadow);
    display: inline-block;
    padding: 3px;
    margin-bottom: 8rem;
}
.home .home-left .home-text {
    font-size: 4rem;
    color: var(--peru);
    margin-bottom: 4rem;
    line-height: 1.6;
}
  
.home .home-left .btn-group {
    flex-direction: row;
    align-items:    center;
    gap: 15px;
}
  
.home1 .home-right {
    position: relative;
    aspect-ratio: 10 / 11;
    margin-bottom: 10rem;
}
  
.home1 .home-right .food-img {
    position: absolute;
    width: 60%;
    height: auto;
}
  
.home1 .home-right .food-1 {
    top:  10%;
    left: -4%;
    animation: scaleUp 3s ease-in-out infinite;
}
  
.home1 .home-right .food-2 {
    top:    50%;
    right: -4%;
    animation: scaleUp 2s ease-in-out infinite;
}
.home1 .home-right .food-5 {
    top:    0%;
    right: -4%;
    animation: scaleUp 2s ease-in-out infinite;
}

.home1 .home-right .food-4 {
    bottom: -4%;
    left: -4%;
    animation: scaleUp 5s ease-in-out infinite;
}
  
.home1 .home-right .food-3 {
    bottom: -30%;
    right:  -4%;
    animation: scaleUp 4s ease-in-out infinite;
}
  

  

  
  
@keyframes scaleUp {
  
    0%,
    100% { transform: translateY(0) scale(1); }
  
    50% { transform: translateY(-5px) scale(1.05);}
  
}
  
  
@keyframes moveUp {
  
    0%,
    100% { transform: translateY(0); }
    20%  { transform: translateY(-3px); }
    50%  { transform: translateY(-8px); }
  
}



.about{
    margin-top: 5rem;
    display: contents;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
}
.about .image{
    margin-top: 35rem;
    height: 5%;
}

.about .image img{
    display: block;
    max-width: 40rem;
    max-height: 40rem;
    margin-left: auto;
    margin-right: auto;
    
}

.about .content .btn{
    text-align: center;
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.about .content .title{
    text-align: center;
    font-size: 3rem;
    color: var(--black);
}

.about .content p{
    text-align: center;
    font-size: 1.8rem;
    color: var(--lightblack);
    padding: 1rem 0;
    line-height: 2;
}

.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.about .content .icons-container .icons{
    flex: 1 1 16rem;
    text-align: center;
    background: var(--lightbg);
    padding: 3rem 2rem;
}

.about .content .icons-container .icons img{
    height: 40rem;
}


.about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--lightblack);
    font-weight: normal;
}


.gallery .gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.gallery .gallery-container .box{
    height: 40rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.gallery .gallery-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .gallery-container .box .icon{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: var(--darkbg);
}


.gallery .gallery-container .box .icon i{
    font-size: 6rem;
    color: var(--white);
}

.gallery .gallery-container .price{
    font-size: 2.5rem;
    color: var(--peru);
}

.gallery .gallery-container h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--black);
 }


.order{
    background: peru;
}

.order .heading span{
    color: white;
}

.order .heading h3{
    color: white;
}

.order form{
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--boxshadow);
}

.order form .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.order form .box-container .box{
    flex: 1 1 41rem ;

}

.order form .box-container .box .inputBox input,
.order form .box-container .box .inputBox textarea{
    width: 100%;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--lightblack);
    border: var(--border);
}

.order form .box-container .box .inputBox input::placeholder,
.order form .box-container .box .inputBox textarea::placeholder{
    text-transform: capitalize;
}

.order form .box-container .box .inputBox input:focus,
.order form .box-container .box .inputBox textarea:focus{
    background: var(--lightblack);
    color: var(--white);
}

.order form .box-container .box .inputBox input:focus::placeholder,
.order form .box-container .box .inputBox textarea:focus::placeholder{
    color: var(--lightwhite);
}

.order form .box-container .box .inputBox textarea{
    height: 20rem;
    resize: none;
}

.order form .box-container .box .inputBox span{
    color: var(--lightblack);
    font-size: 2rem;
}


.sectionfoot {
    background: var(--peru);
    color: #fff;
    padding: 4rem 0;
  }
  
  .sectionfoot .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .section.foot h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .sectionfoot a {
    margin-top: 2rem;
    line-height: 1.9;
    color: #fff;
  }
  
  .sectionfoot a > i {
    color: var(--peru);
    margin-right: 0.5rem;
  }
















@media(max-width:1200px){
    section{
        padding:3rem 5%;
    }
}

@media(max-width:991px){
    section{
        padding:3rem 2rem;
    }
    html{
        font-size: 55%;
    }
    .home .slide .content h3{
        font-size: 15vw;
    }
}

@media(max-width:768px){

    #menubtn{
        display: inline-block;   
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
        top: initial;
        bottom: 1rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home .slide .content h3{
        font-size: 8rem;
    }
}